form button.btn.btn-default,
form label 				{font-weight:bold}
img 					{vertical-align: middle; width: 100%}
footer {
	position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#lunaUp,
#lunaDown {
  -moz-transition: transform 300ms;
  -webkit-transition: transform 300ms;
  transition: transform 300ms;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.header-content {
	background-image: url("img/header-background.png");
	background-size: contain;
	background-repeat:no-repeat;
	background-position: top;
	height: 150px;
}

.luna-container {
	background-image: url("img/background.png");
	background-size: contain;
	background-repeat:no-repeat;
	background-position: bottom;
	width: 300px !important;
}

.talkUp {
  transform: rotate(-15deg);
}

.talkDown {
  transform: rotate(15deg);
}

.lunaUp {
	position: relative;
	z-index:5;
}

.lunaDown {
	position: relative;
	z-index:4;
	margin-top:-33px
}

.results {
	height: 250px;
	background-image: url("img/results.png");
	background-size: contain;
	background-repeat:no-repeat;
	display: none;
}